<div class="modal-backdrop">
  <div class="modal">
    <h3>Modifier la feature</h3>

    <div class="form-group">
      <label for="name">Nom :</label>
      <input
        id="name"
        type="text"
        [readonly]="!isEditingName"
        [(ngModel)]="featureName"
        (dblclick)="isEditingName = true"
        (blur)="isEditingName = false"
      />
    </div>


    <div class="add-tag-section">
      <h4>Ajouter un nouveau tag</h4>

      <div class="form-group">
        <label for="selectKey">Clé :</label>
        <select id="selectKey" [(ngModel)]="selectedKey">
          <option value="">-- Choisir une clé --</option>
          <option *ngFor="let key of availableKeys" [value]="key">
            {{ key === 'opening_hours' ? "Horaires d'ouverture" : (key === 'custom' ? 'Clé personnalisée' : key) }}
          </option>
        </select>
      </div>

      <div class="form-group" *ngIf="selectedKey==='custom'">
        <label for="newKey">Nouvelle clé :</label>
        <input id="newKey" type="text" [(ngModel)]="newKey" />
      </div>

      <div class="form-group">
        <label for="newType">Type :</label>
        <select id="newType" [(ngModel)]="newType" [disabled]="isOpeningHours()">
          <option value="text">Texte</option>
          <option value="number">Numéro</option>
          <option value="date">Date</option>
          <option value="time">Heure</option>
        </select>
      </div>

      <div class="form-group" *ngIf="isOpeningHours()">
        <label>Horaires d'ouverture</label>

        <div *ngFor="let day of openingHoursDays" class="day-block">
          <span class="day-name">{{ translations['tag:'+day]?.message }}</span>

          <input type="time"
                 [(ngModel)]="openingHoursValues[day].startMorning"
                 placeholder="Matin Début"
                 (ngModelChange)="updateOpeningHoursTag(); cleanInvalidFields(day)"
                 [ngClass]="{ invalid: isFieldInvalid(day, 'startMorning') }"
                 [disabled]="shouldDisable(day,'startMorning')" />

          <input type="time"
                 [(ngModel)]="openingHoursValues[day].endMorning"
                 placeholder="Matin Fin"
                 (ngModelChange)="updateOpeningHoursTag(); cleanInvalidFields(day)"
                 [ngClass]="{ invalid: isFieldInvalid(day, 'endMorning') }"
                 [disabled]="shouldDisable(day,'endMorning')" />

          <input type="time"
                 [(ngModel)]="openingHoursValues[day].startAfternoon"
                 placeholder="Aprem Début"
                 (ngModelChange)="updateOpeningHoursTag(); cleanInvalidFields(day)"
                 [ngClass]="{ invalid: isFieldInvalid(day, 'startAfternoon') }"
                 [disabled]="shouldDisable(day,'startAfternoon')" />

          <input type="time"
                 [(ngModel)]="openingHoursValues[day].endAfternoon"
                 placeholder="Aprem Fin"
                 (ngModelChange)="updateOpeningHoursTag(); cleanInvalidFields(day)"
                 [ngClass]="{ invalid: isFieldInvalid(day, 'endAfternoon') }"
                 [disabled]="shouldDisable(day,'endAfternoon')" />

          <select [(ngModel)]="openingHoursValues[day].status"
                  (ngModelChange)="updateOpeningHoursTag(); cleanInvalidFields(day)">
            <option value="ouvert">Ouvert</option>
            <option value="ouvert avec pause">Ouvert avec pause</option>
            <option value="fermé matin">Fermé matin</option>
            <option value="fermé aprem">Fermé après-midi</option>
            <option value="fermé">Fermé</option>
          </select>
        </div>
      </div>




      <div class="form-group" *ngIf="!isOpeningHours()">
        <label for="valueField">Valeur :</label>
        <input id="valueField" [type]="newType" [(ngModel)]="newValue" />
      </div>

      <button (click)="onPrimaryAction()">
        {{ isEditingExistingKey() ? 'Sauvegarder' : 'Ajouter' }}
      </button>


      <div *ngIf="formError" class="error-box">
        {{ formError }}
      </div>


    </div>

    <div class="modal-buttons">
      <button (click)="confirm()">OK</button>
      <button (click)="cancelEdit()">Annuler</button>
    </div>
  </div>
</div>
