.map-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

button {
  padding: 8px 12px;
  margin: 10px;
  align-self: flex-start;
  background: #0078d7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: #005a9e;
  }
}

.map-container {
  flex: 1;
  border-left: 10px solid #888;
  border-right: 10px solid #888;
  width: 100%;
}
