@if (showChat){
  <div class="chat-modal" [ngClass]="{ minimized: isMinimized }" #chatModal>
    <div class="chat-header" (mousedown)="startDrag($event)" (touchstart)="startDrag($event)">
      <span>{{ translations['tag:chat_ai']?.message }}</span>
      @if (!isMinimized){
        <button (click)="toggleMinimize()">
          <i class="fa-solid fa-compress-alt"></i>
        </button>
      } @else {
        <button (click)="toggleMinimize()">
          <i class="fa-solid fa-expand-alt"></i>
        </button>
      }
    </div>

    <div class="chat-body">
      <div class="chat-messages">
        @for (msg of chatMessages; track msg){
          <div class="chat-message" [class.user]="msg.user==='user'" [class.ai]="msg.user==='ai'">

            @if (msg.user==='ai'){
              <img src="images/ia_icon.png" class="chat-avatar" alt="IA">
            } @else {
              <img src="images/user_icon.png" class="chat-avatar" alt="Vous">
            }

            <div class="chat-bubble">{{ msg.text }}</div>
          </div>
        }
      </div>

      <div class="chat-input">
        <input
          type="text"
          [(ngModel)]="userMessage"
          [placeholder]="translations['tag:type_message']?.message"
          (keydown.enter)="sendMessage()"
        />
        <button
          class="record-button"
          (click)="startRecording()"
          [ngClass]="{ recording: isRecording }">
          {{ isRecording ? translations['tag:speaking']?.message : translations['tag:speak']?.message }}
        </button>



      </div>
    </div>
  </div>
}
