/* ===== GLOBAL RESET ===== */
html, body, app-root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
